<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="static/modules/vue.js"></script>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="static/src/styles.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link href="https://fonts.googleapis.com/css?family=Saira" rel="stylesheet">
</head>
<body class="background">
<div class="title-area">
    <h1 class="title">My Application Demo</h1>
    <span class="title-desc">Flask + Vue All-in-One Template</span>
</div>
<div id="app">
    <div class="app-button" onclick="window.location='/addition'">
        <span class="app-description">{{ message }}</span>
    </div>
</div>
<script src="static/src/main.js"></script>
</body>
</html>
