<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="static/modules/vue.js"></script>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="static/src/styles.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
</head>
<body class="background">
<h1 class="title">My Application Demo</h1>
<div id="app">
    <div class="app-button" onclick="window.location='/addition'">
        <p class="app-description">{{ message }}</p>
    </div>
</div>
<script src="static/src/main.js"></script>
</body>
</html>
