.background {
    background-color: #3CC47C;
}

.title {
    color: #EFEFEF;
    font-family: "Lato", serif;
    text-align: left;
    font-weight: bold;
}

.app-description {
    text-indent: 25px;
    color: #EFEFEF;
}

.app-button {
    border: 2px solid white;
    width: 200px;
    cursor: pointer;
    position: fixed;
    left: 1%;
    top: 50%;
}

.app-button:hover {
    background-color: #1E392A;
}