.background {
    background-color: #3CC47C;
}

.title {
    color: #EFEFEF;
    font-family: "Lato", serif;
    text-align: left;
    font-weight: bold;
    position: fixed;
    left: 1.5%;
    top: 42.5%;
    padding: .4%;
}

.app-description {
    text-indent: 25px;
    color: #EFEFEF;
}

.app-button {
    border: 3px solid white;
    width: 150px;
    cursor: pointer;
    position: fixed;
    left: 4%;
    top: 50%;
    font-family: "Saira", serif;
    text-align: center;
    padding: .6%;
}

.app-button:hover {
    background-color: #1E392A;
}